@media (-moz-bool-pref: "rezen-custom-audio-indicator") {
    /* --- Hide default audio tab button --- */
    .tab-audio-button {
        display: none !important;
    }

    /* --- Custom styles for audio tab indicators --- */
    #navigator-toolbox {
        .tab-icon-overlay {
            &:is([soundplaying], [muted], [activemedia-blocked]) {
                display: block !important;
                background: transparent !important;
                border: 0 !important;
                border-radius: 0 !important;
                right: -2px !important;
                scale: 2 !important;
                will-change: transform; /* GPU acceleration hint for scaling */
            }

            &[soundplaying] {
                list-style-image: url("chrome://browser/content/zen-images/note-indicator.svg") !important;
                top: -13px !important;
            }

            &:is([activemedia-blocked]) {
                list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAC7UlEQVR4nO2YXWiOYRjH33faIl9ZptCsNVtab63YwQzZduCAEwfizMrko5Qa5VszRUOhRLRSCCc+lkIkEUaOMNrhGMsJ+aZsfrpzP+3v2fs+7953z/Me3f/D//Xc/+u67ue67ue6n1jMwcHBwcHBwSF3AKYArcCKLNaWAvuB+miiSwOgBujlH/4AJRmuv2TXDgAtQDyWKwALgG8M4g0wLkMNE7TiWE6SAGYBX8TxA2BaFjpxYLt9Ax52RRP1oNPRQJc4vGm4EWo2ShIDkfaE3TEPL4CxYpsPXAQWBawvBE6ZnQbyUuh2AwVRBD9RSuc3kBBbA/Dd2noCNDTQdi8JW073xbYmigSaxcFx33GoDd0eoDHPJu9hh9jmCN8VRQKPpU7LhL8mji8D+Wl0lkkSP3xad0UrEWbwhdJoT4RPiMPX2hNp9Npk3VHh1wq/OcwE6kW4TfjWVHULzLZNfQfY4Gva8dIz76QXykXvXJgJrBbhlcLfEH6y8BW2PBQtPs0rYpthuTzgp+U6w0xgkzhbLLz3Tfjge34PQ9EXUEZzhTdvxKA7qgSWCP/cch/TjAkGvb5nDoqtRvg+y70KM4EmcdYo/HXhi4SfKTWedEwAroqt2HKjgF9RlNBCcXYgxU6v862pAs4Dt4xNBzVggvTIW2niCtE7G2YCk4B+K/xU+EotEXO6DFPvkKw7LPx64ZtDS8CKP5LZv1z4DnHakW6OAZbLZpgyKxXbPdGqDDuBjSJ+QvgS4KvYzgRoNPhGia1iqxb+WajBS91+tg5MEFViq5N56H2Ahn74Tnp9Yc//h2JrCj0B62iLOHmptzCgFrgALA1YPxU4bXbe19S7fbr5USVQYF6vOLsNjBmh5iqZs/rNdTW8iJM7NEfdJ0miE5iehU7c7rxeKbdFE/VQ57W+e3HPcCdR0djH/zgSXcTJA6i2fyO8o7U4w/XeV9y8gZ05/a0iQRQBe7P8sVVmP2h10UTn4ODg4ODg4BDLBH8BfkTRHxn3cBsAAAAASUVORK5CYII=") !important;
                top: 0px !important;
            }

            &:is([muted]) {
                list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAACgElEQVR4nO3cPWsUURjF8YuuLlgqgor5AEaDbwiipYhYxEoCIoi3sbWw9hNoYycWopWfRaysRZSUQuyCa9T8wzUTWJOdl+w489w79/wg3czm8JzNzM7c2TgnIiIiIiIiIiIiIiIiIiIiIiIi+QDOAh5YsM6SHWAF2GDbd+Ckdabchv+Lf92zzpUF4O6M4QfeOlvOww9UgOHwAxVgOPxABRgOP1ABhsMPVIDh8AMVYDj8QAV0eJHVqgDgELAEHGuRawycB466oWox/NICisF/+bsF/AGeAQf2mesW8K14jQnw2A1Ny+FXFfCevd40LQFYBn7u2v83cMalBDgH3Acezfh52nL4MwsARsAms9WWUDL8HQ9cCoDLwAe650t+/6eKfUpLqBl+cMXFDrgOrNMPX5LhRs0g3+4uocHwX7rYFZ8avtIfX5FluWkJwJ2abRufP2I4qfbJ1+S5Dfyo2P9dUdSkZpuDLgXAc/rlG2Sq+0sg+Xf+DuA1/fINc81Twp7zRPRiLWDqcFR1qEnzsJNKAfsoIc3hD6yAkUvRwA5BI5eaWAsgo5OwPoZGsKgS24XYJKcLsfHUffg++Ios+d2KCIBrEdyMu9nBzbhXLhXAhZJFkb4K+NzR7eirLiXAYniAtucFmfE8w29YwrAeAuhwSfLjPMOvKSGssi25oeloUf4isDq1KP9ijkX58AlqrXiN8J2EJ26oOnos5XBxLjrVItcR4BJw3A1dcQ2x8b8KkH5K8NaZcy/BW+fNvQRvnTX3Erx1ztxL8NYZcy/BW+fLvQRvnS0b6Iva0f2rgjXghHWm7LB9h/UhcNo6i4iIiIiIiIiIiIiIiIiIiIiIiLg0bAH2eXzdvB0ufwAAAABJRU5ErkJggg==") !important;
                top: 0px !important;
            }
        }

        .tabbrowser-tab:is([muted], [activemedia-blocked]) .tab-icon-image {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }
}
