/* --- UI Font ---*/
:root {
    font-family: "SF Pro Text", sans-serif !important;
    /* font-size: 12px !important; */
    /* letter-spacing: 0.2px !important; */
}

/* --- Disable the sidebar from being dragged as a window --- */
#TabsToolbar {
    -moz-window-dragging: no-drag !important;
}

/* --- Custom background for selected essential--- */
.zen-essentials-container {
    .tabbrowser-tab:is([selected], [visuallyselected]) .tab-background {
        &::before {
            opacity: 0;
        }
    }
}

/* --- Hide back and forward buttons when they are not needed --- */
@media (-moz-bool-pref: "rezen-auto.back-forward") {

    /* Optimized selector: group common ancestor */
    :root:not([customizing]) #back-button[disabled],
    :root:not([customizing]) #forward-button[disabled] {
        display: none !important;
    }
}

/* --- Hide back and forward buttons --- */
@media (-moz-bool-pref: "rezen-hide.back-forward") {

    /* Optimized selector: group common ancestor */
    :root:not([customizing]) #back-button,
    :root:not([customizing]) #forward-button {
        display: none !important;
    }
}

/* --- Clear Bookmarks Menu --- */
#BMB_viewBookmarksSidebar,
#BMB_searchBookmarks,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
    display: none !important;
}

#bookmarks-menu-button #BMB_viewBookmarksToolbar {
    display: none !important;
}

#BMB_bookmarksPopup menuseparator {
    display: none;
}

/* --- Dim unloaded tabs --- */
@media (-moz-bool-pref: "rezen-dim.unloaded.tabs") {

    .tab-icon-image[pending="true"],
    .tabbrowser-tab[pending="true"] .tab-text {
        opacity: 0.5 !important;
    }
}

/* --- Hide separators --- */
@media (-moz-bool-pref: "rezen-hide.separators") {
    menuseparator::before {
        border-top: none !important;
    }

    menuseparator {
        padding-block: 0px !important;
    }
}

/* --- Disable box shadows --- */
@media (-moz-bool-pref: "rezen-disable.box.shadows") {

    hbox.browserSidebarContainer,
    #zen-tabbox-wrapper {
        box-shadow: none !important;
    }
}

/* --- Hide URL bar page action buttons --- */
:root[zen-single-toolbar='true'] {
    #urlbar {
        #page-action-buttons {
            display: none !important;
        }
    }
}