/* --- Disable the sidebar from being dragged as a window --- */
@media (-moz-bool-pref: "extension.rezen.disable-window-dragging") {
    #TabsToolbar {
        -moz-window-dragging: no-drag !important;
    }
}

/* --- Custom background for selected essential--- */
@media (-moz-bool-pref: "extension.rezen.custom-essential-background") {
    .zen-essentials-container {
        .tabbrowser-tab:is([selected], [visuallyselected]) .tab-background {
            &::before {
                opacity: 0;
            }
        }
    }
}

/* --- Hide back and forward buttons when they are not needed --- */
@media (-moz-bool-pref: "extension.rezen.auto-back-forward") {

    /* Optimized selector: group common ancestor */
    :root:not([customizing]) #back-button[disabled],
    :root:not([customizing]) #forward-button[disabled] {
        display: none !important;
    }
}

/* --- Hide back and forward buttons --- */
@media (-moz-bool-pref: "extension.rezen.hide-back-forward") {

    /* Optimized selector: group common ancestor */
    :root:not([customizing]) #back-button,
    :root:not([customizing]) #forward-button {
        display: none !important;
    }
}

/* --- Clear Bookmarks Menu --- */
#BMB_viewBookmarksSidebar,
#BMB_searchBookmarks,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
    display: none !important;
}

#bookmarks-menu-button #BMB_viewBookmarksToolbar {
    display: none !important;
}

#BMB_bookmarksPopup menuseparator {
    display: none;
}

/* --- Dim unloaded tabs --- */
@media (-moz-bool-pref: "extension.rezen.dim-unloaded-tabs") {

    .tab-icon-image[pending="true"],
    .tabbrowser-tab[pending="true"] .tab-text {
        opacity: 0.5 !important;
    }
}

/* --- Hide separators --- */
@media (-moz-bool-pref: "extension.rezen.hide-separators") {
    menuseparator::before {
        border-top: none !important;
    }

    menuseparator {
        padding-block: 0px !important;
    }
}

/* --- Disable box shadows --- */
@media (-moz-bool-pref: "extension.rezen.disable-box-shadows") {

    hbox.browserSidebarContainer,
    #zen-tabbox-wrapper {
        box-shadow: none !important;
    }
}

/* --- Disable URL bar page action buttons --- */
@media (-moz-bool-pref: "extension.rezen.disable-urlbar-page-action-buttons") {
    :root[zen-single-toolbar='true'] {
        #urlbar {
            #page-action-buttons {
                display: none !important;
            }
        }
    }
}

/* --- Zen logo on toolbar menu --- */
toolbarbutton#PanelUI-menu-button {
    list-style-image: url("chrome://branding/content/about-logo.svg") !important;
    filter: grayscale(1) brightness(1.3);
}

toolbarbutton#PanelUI-menu-button image {
    scale: 1.5;
}