/* --- Marginless --- */

@media (not (-moz-pref("extension.rezen.marginless", 0))) {
    @media (-moz-pref("extension.rezen.marginless", 1)) {
        :root:not([customizing]) {

            #zen-appcontent-wrapper:not( :has(#tabbrowser-tabpanels[zen-split-view]),
                :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))) {
                margin: 0 !important;

                #zen-tabbox-wrapper {
                    margin: 0 !important;
                }

                #zen-tabbox-wrapper .browserSidebarContainer,
                #zen-tabbox-wrapper browser {
                    margin: 0 !important;
                    border-radius: 0 !important;
                    box-shadow: none !important;
                }

                @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
                    #zen-appcontent-wrapper {
                        position: relative;
                    }

                    #zen-appcontent-navbar-wrapper {
                        position: absolute;
                        width: 100% !important;
                    }
                }
            }
        }
    }

    /* --- Marginless on Compact Mode --- */
    @media (-moz-pref("extension.rezen.marginless", 2)) {
        :root[zen-compact-mode="true"]:not([customizing]) {

            #zen-appcontent-wrapper:not( :has(#tabbrowser-tabpanels[zen-split-view]),
                :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))) {
                margin: 0 !important;

                #zen-tabbox-wrapper {
                    margin: 0 !important;
                }

                #zen-tabbox-wrapper .browserSidebarContainer,
                #zen-tabbox-wrapper browser {
                    margin: 0 !important;
                    border-radius: 0 !important;
                }

                @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
                    #zen-appcontent-wrapper {
                        position: relative;
                    }

                    #zen-appcontent-navbar-wrapper {
                        position: absolute;
                        width: 100% !important;
                    }
                }
            }
        }
    }
}