/* --- Marginless --- */

@media (-moz-bool-pref: "rezen-marginless") {
    [zen-single-toolbar="true"] {
        #zen-appcontent-wrapper {
            position: relative;
        }

        #zen-appcontent-navbar-wrapper {
            position: absolute;
            width: 100% !important;
        }

        #zen-tabbox-wrapper {
            margin: 0 !important;
        }

        .browserSidebarContainer {
            border-radius: 0px !important;
            box-shadow: none !important;
        }
    }
}

/* --- Marginless on Compact Mode --- */

@media (-moz-bool-pref: "rezen-compact.marginless") {
    :root[zen-compact-mode="true"]:not([customizing]) {
        #zen-appcontent-wrapper:not(
                :has(#tabbrowser-tabpanels[zen-split-view]),
                :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))
            ) {
            margin: 0 !important;

            #zen-tabbox-wrapper {
                margin: 0 !important;
            }

            #zen-tabbox-wrapper .browserSidebarContainer,
            #zen-tabbox-wrapper browser {
                margin: 0 !important;
                border-radius: 0 !important;
            }

            @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
                #zen-appcontent-wrapper {
                    position: relative;
                }

                #zen-appcontent-navbar-wrapper {
                    position: absolute;
                    width: 100% !important;
                }
            }
        }
    }
}
